/* Main CSS */

/* Fonts */
:root {
    --default-font: "Times New Roman";
}

/* Global Colors */
:root {
    --background-color: white;
    --surface-color: #E6E6E6;
    --Greyscale-900: #1A1A1A;
    --default-font-color: #1A1A1A;
    --Greyscale-50: #CCC;

}

/* General styling */
body {
    background-color: var(--background-color);
    color: var(--default-font-color);
    font-family: var(--default-font);
}

/* forest container */
.forest-container {
  position: fixed;   /* stays on top */
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;      /* above everything */
  overflow: hidden;
  background-color: none;
  transition: opacity 1s ease-in-out;
}

/* left & right trees */
.forest {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  filter: blur(0.5px);
  object-fit: cover;
  transform: scale(1.05); /* slight zoom to hide edges */
  transition: transform 1.5s ease-in-out;
}

.left-forest {
  left: 0;
}

.right-forest {
  right: 0;
}

/* center title and button */
.title-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
  z-index: 10;
}

/* .title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
*/ 

.enter-btn {
  background: none;
  border: 1px solid #212529;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.enter-btn:hover {
  background: #212529;
  color: #FAF6F0;
}

/* homepage */

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s ease-in-out;
}

#homepage.visible {
  opacity: 1;
  pointer-events: auto;
}


/* Navbar */
.navbar {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.navbar-nav {
    display: flex;
    padding: 8px 48px;
    align-items: center;
    gap: 24px;  
    border-radius: 80px;
    background-color: var(--surface-color);
}

.navbar-nav a {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  color: var(--default-font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav a:hover {
  text-decoration: none;
  background-color: color-mix(in srgb, var(--Greyscale-50), transparent 35%); 
}

.navbar .navbar-nav .nav-link.active {
  color: var(--surface-color) !important;    /* important! to override the variable --bs-navbar-active-color */
  text-decoration: none;
  background-color: var(--Greyscale-900);
}

.navbar .layout-container .layout-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.navbar .layout-container .layout-button svg {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
}

.navbar .layout-container .my-styles {
    position: fixed;
    z-index: 1000;
}

/* Carousel */
.carousel .slide, #homepage-carousel {
  min-height: 50vh;
}

.carousel-caption {
  text-decoration-line: underline;
  /* add the link to the rooms */
}

.carousel-inner > .item > img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
