/* Dark Romanticism */


:root {
    --default-font: "Uncial Antiqua", serif;
    --text-font: "Cormorant Garamond", serif;
}

/* Global Colors */
:root {
    --background-color: #353535;
    --antique-gold: #D3B27D;
    --velvet-red: #611E24;
    --burnt-terracotta: #8B4542;
    --porcelain-veil : #DDD9D5;
}

/* General styling */
body {
    background-color: var(--background-color);
    color: var(--antique-gold);
    font-family: var(--default-font);
}

/* headings (h1–h6) */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--default-font);
  color: var(--antique-gold);
}

/* paragraphs */
p {
  font-family: var(--text-font);
  color: var(--antique-gold);
}

/* fog background */


/* Navbar */
/* ------------------------------------------ */
.navbar {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-family: var(--text-font);
}

.navbar-nav {
    padding: 8px 24px;
    gap: 24px;
    border-radius: 80px;
    background-color: var(--velvet-red);
    border: 2px solid var(--antique-gold);
    border-radius: 0px;
}

/* Logo */
.navbar-nav .nav-link {
    border: 1px solid var(--antique-gold);
    border-radius: 0px;
    color: var(--antique-gold);
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  background-color: var(--burnt-terracotta);
}

.navbar .nav-link.active {
  color: var(--porcelain-veil) !important;    /* important! to override the variable --bs-navbar-active-color */
  text-decoration: none;
  background-color: var(--burnt-terracotta);
}

/* Change style button and logo color */
.navbar svg path {
    fill: var(--antique-gold);
}

.navbar .nav-link.active {
color: var(--porcelain-veil) !important;    /* important! to override the variable --bs-navbar-active-color */
text-decoration: none;
background-color: var(--burnt-terracotta);
}

@media (max-width: 991px) {
  .custom-toggler .navbar-toggler-icon {
      filter: none !important; /* restore color */
      background-color: var(--background-color);
  }
}

/* Change the rectangle color around the hamburger toggle */
.navbar-toggler:focus {
    border: 2px solid var(--antique-gold) !important; /* antique-gold */
    box-shadow: none !important; /* remove any inner shadow */
    background-clip: padding-box; /* ensure border doesn’t get clipped */
}


.navbar .layout-container .layout-options {
    background-color: var(--velvet-red); /* or your preferred color */
    border: 2px solid var(--antique-gold);    /* frame color */
    border-radius: 0px;                      /* round corners */
    box-shadow: 0 4px 12px rgba(0,0,0,0.25); /* optional shadow */
    padding: 16px;
}

.custom-toggler.navbar-toggler {
  border-color: var(--antique-gold) !important; 
}

/* Change hamburger icon color */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23D3B27D' stroke-width='2' stroke-linecap='round' d='M4 7h22 M4 15h22 M4 23h22'/%3E%3C/svg%3E") !important;   
}



/* Carousel */
/* ---------------------------------------- */
.carousel-caption a {
  color: var(--antique-gold);
}

.carousel-caption a:hover {
  color: var(--porcelain-veil);
}

.carousel::before {
  content: "";
  position: absolute;
  top: -150px;          /* adjust vertical position */
  left: 50%;
  transform: translateX(-50%);
  width: 300px;         /* width of your image */
  height: 150px;        /* height of your image */
  background-image: url("img/dark-romanticism/carousel-frame.png");
  background-size: contain; /* maintain aspect ratio */
  background-repeat: no-repeat;
  z-index: 999;          /* above carousel */
  pointer-events: none; /* allow clicks on carousel */
}

/* change the color of carousel arrows */
.carousel-control-prev,
.carousel-control-next {
  filter: invert(59%) sepia(39%) saturate(2385%) hue-rotate(35deg) brightness(95%) contrast(90%);
}

/*
.introduction h2::after {
  content: "";
  display: block;
  width: 60px;                         
  height: 2px;                        */
  /* margin: 1em auto 0;                  /* spacing and centering */
  /* background-image: url("img/dark-romanticism/after-line.png") no-repeat center/contain; 
  line-height: 0;                       /* removes extra black line */
/* } */


.introduction,
.link-documentation {
  background-color: var(--velvet-red);
  border: 2px solid var(--antique-gold);
  border-radius: 20px;
}

.link-documentation a {
  display: inline-block;           /* allows padding and margins */
  padding: 0.75rem 1.5rem;         /* button size */
  border: 2px solid var(--antique-gold);  /* outlined look */
  border-radius: 2rem;             /* rounded edges */
  color: var(--antique-gold);
  text-decoration: none;           /* remove underline */
  font-weight: 600;
  margin: 2rem;              /* spacing above the button */
}

.link-documentation a:hover {
  background-color: var(--burnt-terracotta);
  color: var(--porcelain-veil);
  /* transform: scale(1.05); */         /* subtle zoom */
}

