/* ----- VIENNA SECESSION THEME ----- */

/* ---------------------------
    1. Variables           
------------------------------ */

:root {
  /* Fonts */
  --default-font: "Kolo W01 RegularLP", sans-serif;
  --text-font: "Federo", sans-serif;
  
  /* Colors */
  --warm-canvas: #F0E4CC;
  --green-amber: #BAA346;
  --hexed-walnut: #9D6C44;
  --burnt-walnut: #845D34;
}


/* ----------------------------
    2. Global Reset & Typography
------------------------------- */
/* body {
    background-image: url("../img/vienna-secession/background.jpeg");
    background-color: var(--warm-canvas);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--default-font);
    background-size: cover;
} */

body {
  background-color: var(--warm-canvas);
  font-family: var(--default-font);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("../img/vienna-secession/background.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

/* texture effect */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background-image: 
      repeating-linear-gradient(0deg, transparent 0px, transparent 2px, var(--hexed-walnut) 2px, var(--hexed-walnut) 3px),
      repeating-linear-gradient(90deg, transparent 0px, transparent 2px, var(--hexed-walnut) 2px, var(--hexed-walnut) 3px);
  
  background-size: 4px 4px;
  mix-blend-mode: multiply;
  opacity: 0.05;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--default-font);
  color: var(--burnt-walnut);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
}

p {
  font-family: var(--text-font);
  color: var(--burnt-walnut);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.02em;
}


/* --------------------------
  3. Layout components: Background, Nav & Footer
----------------------------- */

/* ----- Navbar ----- */

header {
  background-color: var(--warm-canvas);
  border-bottom: 6px solid var(--hexed-walnut);
  border-radius: 0px;
  z-index: 99999;
}

.navbar-nav {
    background-color: transparent;
}

.navbar-nav .nav-link {
  color: var(--burnt-walnut);
  border: 2px dotted var(--green-amber);
  border-radius: 2px;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  background-color: var(--green-amber);
  color: var(--warm-canvas);
  border: 2px dotted var(--burnt-walnut);
}

.navbar .nav-link.active {
  color: var(--warm-canvas) !important;
  background-color: var(--green-amber);
  border: 2px dotted var(--burnt-walnut);
}

/* Change theme button and logo color */
.navbar svg path {
    fill: var(--hexed-walnut);
}

/* Change hamburger icon */
.navbar-toggler {
  color: var(--hexed-walnut);
}

.navbar-toggler-icon {
  filter: invert(48%) sepia(13%) saturate(2253%) hue-rotate(345deg) brightness(93%) contrast(88%);
}

.navbar .layout-container .layout-options {
    background-color: var(--warm-canvas);
    border: 4px solid var(--burnt-walnut);
    border-radius: 0px;
}

.navbar .layout-container .layout-button:hover {
    background-color: var(--green-amber);
}

.navbar .layout-container .layout-button {
  background-color: var(--warm-canvas);
  border: 1px dotted var(--hexed-walnut);
}

.navbar .layout-container .layout-options .trigger-style {
  background-color: transparent;
}

.navbar .layout-container .layout-options .trigger-style:hover {
  border: 2px dotted var(--green-amber);
}

.trigger-style.active-theme .style-label,
.trigger-style:hover .style-label {
  color: var(--warm-canvas);
}


/* ----- Footer ----- */
footer {
  background-color: var(--warm-canvas);
  border-top: 4px solid var(--hexed-walnut);
}

.footer-separator {
  display: none;
}

footer h5 {
  color: var(--hexed-walnut);
}

footer p,
footer a {
  color: var(--hexed-walnut);
}

.bi-github {
  color: var(--hexed-walnut);
}

.bi-envelope {
  color: var(--hexed-walnut);
}

footer .copyright-text {
  background-color: rgba(186, 163, 70, 0.5) !important;
}

footer .copyright-text p {
  color: var(--burnt-walnut) !important;
}



/* -------------------------------
  4. HOMEPAGE
--------------------------------- */

/* Carousel */
/* ---------------------------------------- */
.carousel-frame-wrapper {
    width: 90%;
    margin: 4rem auto;
}

.carousel-item img {
  border: 6px solid var(--hexed-walnut);
  border-radius: 2px;
}

.carousel-caption {
  background-color: var(--green-amber);
  border: 2px solid var(--hexed-walnut);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  /* This creates the space between the squares and the text */
  gap: 5px;
}

.carousel-caption::before,
.carousel-caption::after {
  content: "";
  display: block;
  /* We want 3 squares. Let's say each square is 12px high. 
     3 squares + 2 gaps = roughly 45px - 50px height. */
  height: 30px; 
  width: 10px; /* Width determines the 'squareness'. Adjust this to match the block height visually */
  
  background-color: var(--warm-canvas);

  /* This gradient creates a stripe: Black (visible) then Transparent (gap) */
  -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 65%);
  mask-image: linear-gradient(to bottom, black 65%, transparent 65%);
  
  /* Size of one "Square + Gap" unit. 33.33% means it repeats exactly 3 times in 100% height */
  -webkit-mask-size: 100% 33.33%;
  mask-size: 100% 33.33%;
  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;
}

.carousel-caption a {
  color: var(--warm-canvas);
  font-weight: normal;
  text-shadow: none;
  line-height: 1; 
  font-size: 32px; /* Adjust this until it looks visually equal to the squares */
  font-weight: 300; /* Keeps it elegant/thin */
  letter-spacing: 0.1em;
}

.carousel-caption a:hover {
  color: var(--burnt-walnut);
  transform: none;
}


@media (max-width: 576px) {
  
  .carousel-caption {
    right: auto !important;
    left: 5% !important;
    bottom: 5% !important;
    white-space: nowrap;
    width: fit-content;
    max-width: 90%;
    padding: 6px 12px; 
    gap: 8px;
  }

  .carousel-caption a {
    font-size: 0.9rem !important; 
    line-height: 1;
  }

  .carousel-caption::before,
  .carousel-caption::after {
    height: 15px !important;
    width: 5px !important;
  }
}

.introduction-title h2::after,
.link-documentation h2::after {
  content: "";
  display: block;
  margin: 1em auto 1.5rem;
  width: 160px;  
  height: 16px;
  background-color: transparent !important;
  
  /* square pattern */
  /* This draws a square (color) and a gap (transparent) */
  background-image: linear-gradient(
      to right, 
      var(--green-amber) 50%, 
      transparent 50%
  );
  background-size: 32px 100%;
  background-repeat: repeat-x;
}

.introduction-title h1 {
  margin-bottom: 0;
}

.introduction-title h2 {
  margin-top: 5px;
}

.introduction,
.link-documentation {
  background-color: var(--warm-canvas);
  border: 2px solid var(--hexed-walnut);
  border-radius: 2px;
  padding: 30px;
}

.link-documentation a {
  border: 2px dotted var(--hexed-walnut);  /* outlined look */
  color: var(--hexed-walnut);
  border-radius: 0px;
}

.link-documentation a:hover {
  background-color: var(--green-amber);
  color: var(--warm-canvas);
}


/* -------------------------------
    5. MAP 
--------------------------------- */

.map-description {
  background-color: var(--warm-canvas);
  border: 2px solid var(--hexed-walnut);
  border-radius: 2px;
}

.map-description h2::after {
  content: "";
  display: block;
  margin: 1em auto 1.5rem;
  width: 160px;  
  height: 16px;
  background-color: transparent !important;
  background-image: linear-gradient(
      to right, 
      var(--green-amber) 50%, 
      transparent 50%
  );
  background-size: 32px 100%;
  background-repeat: repeat-x;
}

.map-container svg {
    background: radial-gradient(
        circle closest-side at 50% 50%,
        var(--warm-canvas) 0%,
        var(--warm-canvas) 95%,
        transparent 96%
    );
}

#door1,
#door2,
#door3,
#door4,
#door5,
#door6,
#door7,
#door8,
#door9,
#door10,
#door11 {
  fill: var(--warm-canvas) !important;
}

#museum-walls {
  fill: var(--burnt-walnut);
}

#entrance-door path {
  stroke: var(--hexed-walnut) !important;
}

#entrance-room,
#first-room,
#second-room,
#third-room,
#fourth-room {
  fill: var(--warm-canvas) !important;
  stroke: none;
  opacity: 0.8;
  transition: fill 0.3s, opacity 0.3s;
}

#text-entrance-room,
#text-first-room, 
#text-second-room, 
#text-third-room, 
#text-fourth-room {
  font-family: var(--default-font) !important;
  fill: var(--burnt-walnut) !important;
  font-weight: 600;
}

#entrance-room:hover,
#first-room:hover,
#second-room:hover,
#third-room:hover, 
#fourth-room:hover {
  fill: var(--green-amber) !important;
}

#entrance-room:hover + #text-entrance-room,
#first-room:hover + #text-first-room,
#second-room:hover + #text-second-room,
#third-room:hover + #text-third-room, 
#fourth-room:hover + #text-fourth-room {
  fill: var(--warm-canvas) !important;
} 

#entrance-room.active,
#first-room.active,
#second-room.active,
#third-room.active,
#fourth-room.active {
  fill: var(--green-amber) !important;
}

#entrance-room.active + #text-entrance-room,
#first-room.active + #text-first-room,
#second-room.active + #text-second-room,
#third-room.active + #text-third-room, 
#fourth-room.active + #text-fourth-room {
  fill: var(--warm-canvas) !important;
} 


#explore-room-btn {
  border: 2px dotted var(--hexed-walnut);
  color: var(--hexed-walnut);
  border-radius: 0px;
}

#explore-room-btn:hover {
  background-color: var(--green-amber);
  color: var(--warm-canvas);
}

/* -------------------------------
  6. CHRONOLOGICAL 
--------------------------------- */
.chronology-container {
    background-color: transparent;
}

/* Central vertical line */
.timeline-lines::before {
    background: var(--hexed-walnut);
    z-index: 0;
}

.toggle-frame {
  background-color: var(--green-amber);
  border: 2px solid var(--hexed-walnut);
  border-radius: 0px;
  z-index: 10000; /* above the small grid effect of the whole body */
}

.toggle-text {
    font-family: var(--default-font);
    color: var(--warm-canvas) !important;
}

.active-text {
   text-decoration-line: underline;
   color: var(--burnt-walnut) !important;
   text-decoration-style: dotted;
}

.toggle-pill {
  background-color: transparent ;
  border: 4px dotted var(--warm-canvas);
  border-radius: 0px;
}

.toggle-knob {
  background: transparent;
}

#toggleIcon path {
  fill: var(--burnt-walnut) !important;
}

#inactiveIcon rect {
  fill: var(--warm-canvas) !important;
}

#toggleIcon rect {
  fill: var(--burnt-walnut) !important;
}

#inactiveIcon path {
  fill: var(--warm-canvas) !important;
}

.card {
    background-color: var(--warm-canvas);
    border: 4px solid var(--hexed-walnut);
    border-radius: 2px;
}

.text-wrapper {
    font-family: var(--default-font);
    color: var(--burnt-walnut);
    text-transform: uppercase;
}

.item-date {
  font-family: var(--text-font);
  color: var(--burnt-walnut);
  font-style: normal;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.item-date::before,
.item-date::after {
  content: "";
  display: block;
  height: 15px; 
  width: 5px;
  background-color: var(--burnt-walnut);
  --mask-pattern: linear-gradient(to bottom, black 60%, transparent 60%);
  -webkit-mask-image: var(--mask-pattern);
  mask-image: var(--mask-pattern);
  -webkit-mask-size: 100% 33.33%;
  mask-size: 100% 33.33%;
  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;
}

.ellipse,
.ellipse-2 {
    background: var(--burnt-walnut);
    border-radius: 2px;
}


/* -------------------------------
   7. ERAS
--------------------------------- */
.era-card {
    border: 1px dotted var(--hexed-walnut);
    border-radius: 2px;
    background: var(--warm-canvas);
}

.era-title {
    font-family: var(--default-font);
    color: var(--burnt-walnut);
    letter-spacing: 0.1em;
    font-weight: normal;
    text-transform: uppercase;
}

.era-description {
    font-family: var(--text-font);
    color: var(--burnt-walnut);
}

.era-item {
    border-radius: 2px;
    border: 2px dotted var(--green-amber);
}

.era-item-text {
    width: fit-content;
    font-size: 0.7rem;
    padding: 2px 4px;
    background-color: var(--warm-canvas);
    border: 1px dotted var(--burnt-walnut);
    border-radius: 2px;
    color: var(--burnt-walnut);
    font-family: var(--text-font);
    text-align: center;
    text-shadow: none;
}


/* -------------------------------
    8. ITEM PAGE 
--------------------------------- */
/* 1. THE OUTER FRAME */
#item-container {
    background-color: var(--warm-canvas);
    padding: 0 !important; /* Allows inner lines to touch the edge */
    background-image:
        radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px), /* Top */
        radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px), /* Bottom */
        radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px), /* Left */
        radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px); /* Right */
    background-position: top left, bottom left, top left, top right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 6px, 10px 6px, 6px 10px, 6px 10px;
}

.item-table {
    --bs-gutter-x: 0; /* remove column gaps */
    background-image: radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 10px 6px;
    margin-bottom: 0 !important;
}

.table-box {
    height: 100%;
    background-image: radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px);
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 6px 10px;
}

.item-box, .table-box, .text-box {
    padding: 2rem;
    background-color: transparent;
    border: none !important;
}

/* Mobile Fix: On small screens, switch vertical line to horizontal */
@media (max-width: 767px) {
    .table-box {
        background-image: radial-gradient(circle, var(--green-amber) 2.5px, transparent 3px);
        background-position: top left;
        background-repeat: repeat-x; /* Switch to horizontal line */
        background-size: 10px 6px;
    }
}

.table tr {
    border: 1px solid var(--green-amber);
    /* border-bottom: 1px solid var(--green-amber);
    border-top: 1px solid var(--green-amber); */
    background-color: transparent;
    color: var(--burnt-walnut);
}

.table th,
.table td {
    border: none;
    background-color: transparent;
    color: var(--burnt-walnut);
}

.table thead {
  font-family: var(--default-font);
}

.table tbody {
  font-family: var(--text-font);
}

.text-box button {
  border: 2px dotted var(--hexed-walnut);  /* outlined look */
  color: var(--hexed-walnut);
  border-radius: 2px;
}

.text-box button:hover {
  background-color: var(--green-amber);
  color: var(--warm-canvas);
  border: 2px dotted var(--hexed-walnut);
}

.text-box button.active {
  background-color: var(--green-amber);
  border: 2px dotted var(--hexed-walnut);
  color: var(--warm-canvas);
}

.card-footer button {
  border: 2px dotted var(--green-amber);  /* outlined look */
  border-radius: 2px;             /* rounded edges */
  color: var(--burnt-walnut);
  background-color: var(--warm-canvas);
}

.card-footer button:hover {
  background-color: var(--green-amber);
  color: var(--warm-canvas);
  border: 2px dotted var(--hexed-walnut);
  border-radius: 2px;
}

#room-nav-controls span {
  font-family: var(--text-font);
  color: var(--hexed-walnut) !important;
}

.btn-icon {
  color: var(--hexed-walnut) !important;
}


/* -------------------------------
    9. DOCUMENTATION
--------------------------------- */
#documentation h1::after {
  content: "";
  display: block;
  margin: 1em auto 1.5rem;
  width: 160px;  
  height: 16px;
  background-color: transparent !important;
  background-image: linear-gradient(
      to right, 
      var(--green-amber) 50%, 
      transparent 50%
  );
  background-size: 32px 100%;
  background-repeat: repeat-x;
}

.table-of-contents {
  background-color: transparent !important;
  color: var(--burnt-walnut) !important;
  border: 2px dotted var(--green-amber); 
  text-align: center;
}

.table-of-contents h4 {
  font-family: var(--default-font) !important;
  color: var(--burnt-walnut) !important;
}

.table-of-contents a {
  font-family: var(--text-font) !important;
  color: var(--burnt-walnut) !important;
}

.documentation-box {
  background-color: var(--warm-canvas);
  border: 2px solid var(--hexed-walnut);
  border-radius: 2px;
}

.documentation-page h3 {
  border: none;
  font-family: var(--default-font);
}

.documentation-page h4, h5, h6 {
  border: none;
  font-family: var(--text-font);
  text-transform: capitalize;
}

#documentation ul:not(.list-unstyled),
#documentation ol:not(.list-unstyled) {
  font-family: var(--text-font);
  color: var(--burnt-walnut);
  padding-left: calc(clamp(1rem, 3vw, 2rem) + 1.5rem);
  padding-right: clamp(1rem, 3vw, 2rem);
  margin-inline: auto; 
  max-width: 85ch;
  text-align: left;
  list-style-position: outside;
}

p#bibliography {
  font-family: var(--text-font);
}

#documentation ol a {
  color: var(--burnt-walnut);
}

#documentation code {
  color: var(--green-amber);
}